<%- include('header') -%>

<body class="bodycreate">
    <h1 class="h1create">Inscription</h1>
    
    
        <form action="/createUser" method="post" class="formCreate">
    
    <div>
        <label for="prename">Prénom:</label>
        <input type="text" id="prename" name="prename" required>
    </div>
    <div>
        <label for="name">Nom:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="age">Âge:</label>
        <input type="number" id="age" name="age" required>
    </div>
    <div>
        <label for="taille">Taille (cm):</label>
        <input type="number" id="taille" name="taille" required>
    </div>
    <div>
        <label for="poids">Poids (kg):</label>
        <input type="number" id="poids" name="poids" required>
    </div>
    <div>
        <label for="adresse">Adresse:</label>
        <input type="text" id="adresse" name="adresse" required>
    </div>
    <div>
        <label for="choixformule">Choix de la formule:</label>
        <select id="choixformule" name="choixformule" required>
            <option value="1">Junior(7 ans/14 ans)</option>
            <option value="2">Loisir/Débutant</option>
            <option value="3">Amateur/Elite</option>
        </select>
    </div>
    
        <button type="submit">S'inscrire</button>
    </form>
<%- include('footer') -%>

