<%- include('header') -%>

<body>
    <div class="divHistoire">
        <h1>Histoire du Club de Boxe</h1>
        <nav class="navHistoire">
            <ul>
                <li ><a href="/Histoire">Histoire</a></li>
                <li ><a href="/Entraineur">Entraîneurs</a></li>
                <li ><a href="Evenement">Événements</a></li>
            </ul>
        </nav>
    </div>

    <main>
        <section class="entrainteurSection">
            <h2>L'Entraineur :</h2>
            <div class="divSlimane">
            <img src="image/Slimane.png" class="Slimane" alt="Slimane Haddadi">
            </div>
            <div class="pSlimane">
            <p>
               Slimane Haddadie, originaire des quartiers difficiles de la ville,
               a surmonté d'innombrables obstacles pour devenir une figure emblématique de la boxe anglaise. 
               Jeune, il a trouvé dans ce sport non seulement une passion, 
               mais aussi un moyen de se distancer des tentations de la rue. 
               Son talent naturel et son dévouement l'ont rapidement propulsé sur la scène sportive.
            </p>
         
            <p>
               L'ouverture du Hood Boxing Club, malgré les doutes, a été un tournant majeur. Le club est devenu bien plus qu'un lieu d'entraînement,
               il est devenu une véritable famille. Chacun savait qu'il pouvait compter sur Slimane,
               tant pour les enseignements de boxe que pour les conseils de vie.
            </p>
            <p>
                Aujourd'hui, le Hood Boxing Club brille comme un phare d'espoir dans les rues sombres. Grâce à Slimane,
                il incarne la conviction que la détermination et la foi en ses rêves peuvent surmonter tous les obstacles.
                Son parcours impressionnant rappelle à chacun que la vraie force réside dans le cœur et l'esprit.
            </p>
            </div>
        </section>

        <section class="achievements">
            <h2>Le Second:</h2>
            <p>
               
            <p>
                
            </p>
        </section>
    </main>

    
        
    <%- include('footer') -%>