<%- include('header') -%>

<body>
    <div class="divHistoire">
        <h1>Histoire du Club de Boxe</h1>
        <nav class="navHistoire">
            <ul>
                <li ><a href="/Histoire">Histoire</a></li>
                <li ><a href="/Entraineur">Entraîneurs</a></li>
                <li ><a href="Evenement">Événements</a></li>
            </ul>
        </nav>
    </div>

    <main>
        <section class="club-history">
            <h2>Notre Histoire</h2>
            <p>
                Le Club de Boxe a été fondé en [année de fondation]. Depuis lors, il a formé de nombreux champions et a joué un rôle essentiel dans la promotion de la boxe dans notre communauté.
            </p>
            <p>
                [Plus d'informations sur l'histoire du club...]
            </p>
        </section>

        <section class="achievements">
            <h2>Nos Réalisations</h2>
            <p>
                Au fil des années, notre club a remporté de nombreux titres et trophées dans divers championnats et tournois. Nous sommes fiers de nos athlètes et de leurs accomplissements exceptionnels.
            </p>
            <p>
                [Liste des réalisations et titres...]
            </p>
        </section>
    </main>

    <%- include('footer') -%>