<main class="parallaxMain">
        <img src="image/fond.png" data-speedx="0.1" data-speedy="0.1" class="parallax bg-img">
        <img src="image/tacheR.png" data-speedx="0.20" data-speedy="0.29" class="parallax tacheR">
        <img src="image/sacDerriere2.png" data-speedx="0.21" data-speedy="0.21" class="parallax sacDerriere2">
        <img src="image/tacheD.png" data-speedx="0.25" data-speedy="0.36" class="parallax tacheD">
        <img src="image/tacheG.png" data-speedx="0.25" data-speedy="0.36" class="parallax tacheG">
        <div class="text parallax">
            <h2 data-speedx="0.19" data-speedy="0.24">Hood</h2>
            <h1 data-speedx="0.19" data-speedy="0.24" >Boxing Club</h1>
        </div>
        <img src="image/sacDevant2.png" data-speedx="0.10" data-speedy="0.17" class="parallax sacDevant2">
        
    </main>