
<%- include('header') -%>   
        <main class="main-content" role="main">     
            <section class="info-section">       
                    <h1 class="info-title">Votre compte a bien été créé</h1>      
                    <a href="/" class="return-button"><button class="primary-button">Revenir à l'accueil</button></a>
            </section>   
        </main>
  
<%- include('footer') -%>